@import
url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {    background-color:#131313;
}
h1 {color: white;}
h1 {font-family: 'roboto', sans-serif;}
div.media-picture {height: 400px; background-image: url(https://github.com/ViviAkhemi/ViviAkhemi.github.io/blob/main/img/capita-marvel.jpg)}

span.review-score {color: white}
span.review-score {background-color: #e6bd09;}
span.review-score {padding: 12px;}

h2 {color:steelblue;}

p {color:#bdbdbd;}
p {font-family: 'roboto';}
a {color: yellow;}
